<!-- MAIN IMAGE SECTION -->
<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Sirius</h1>
                <h2 style="font-family: Helvetica,serif;">36. skautský oddíl</h2>
                <div class="spacer"></div>
                <a href="#header" class="smoothScroll" ><i class="fa fa-angle-down"></i></a>
            </div>
        </div><!-- row -->
    </div><!-- /container -->
</div><!-- /headerwrap -->


{% include 'link/content/recent_events.html' %}

{% include 'link/content/characteristics.html' %}

{% include 'link/content/recent_posts.html' %}


<!-- CLIENTS LOGOS -->
<div id="lg">
    <div class="container">
        <div class="row centered">
            <div class="col-lg-2 col-lg-offset-1">
                <img src="link/assets/img/clients/c01.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="link/assets/img/clients/c02.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="link/assets/img/clients/c03.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="link/assets/img/clients/c04.gif" alt="">
            </div>
            <div class="col-lg-2">
                <img src="link/assets/img/clients/c05.gif" alt="">
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- dg -->


<!-- CALL TO ACTION -->
<div id="call">
    <div class="container">
        <div class="row">
            <h3>THIS IS A CALL TO ACTION AREA</h3>
            <div class="col-lg-8 col-lg-offset-2">
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                <p><button type="button" class="btn btn-green btn-lg">Call To Action Button</button></p>
            </div>
        </div><!-- row -->
    </div><!-- container -->
</div><!-- Call to action -->

<div class="container">
    <div class="row mt">
        <div id="about" class="col-lg-12">
            <h1>O nás</h1>
            <p>Join us on our social networks for all the latest updates, product/service announcements and more.</p>
            <br>
        </div><!-- col-lg-12 -->
    </div><!-- row -->
</div><!-- container -->