<!-- Characteristic section -->
<div id="characteristics">
    <div class="container">
        <div class="row mt">
            <h3>Náš oddíl je...</h3>
            <div class="col-lg-1 centered">
                <i class="fa fa-certificate"></i>
            </div>
            <div class="col-lg-3">
                <h3>...dynamický</h3>
                <p class="justify">Dokážeme velice dobře reagovat na neplánovanou situaci.</p>
            </div>

            <div class="col-lg-1 centered">
                <i class="fa fa-question-circle"></i>
            </div>
            <div class="col-lg-3">
                <h3>...kreativní</h3>
                <p class="justify">Máme velmi blízko k výtvarnému umění. Tato vlastnost se nejvíce podepisuje na vzhledu naší klubovny. Přijďte se podívat.</p>
            </div>

            <div class="col-lg-1 centered">
                <i class="fa fa-globe"></i>
            </div>
            <div class="col-lg-3">
                <h3>...zábavný</h3>
                <p class="justify">Nikdo z oddílu nezkazí žádnou legraci.</p>
            </div>

        </div><!-- row -->
    </div><!-- container -->
</div><!-- services section -->