<!-- WELCOME SECTION -->
<div class="container">
    <div class="row mt">
        <div class="col-lg-8">
            <h1 id="header">Aktuální dění</h1>
        </div>
        <div class="col-lg-4">
            <p class="pull-right"><br><button type="button" class="btn btn-green">Napiš nový článek</button></p>
        </div>
    </div><!-- /row -->
    <div class="row mt">
        <h2>Akce</h2>
        <ul class="grid effect-2" id="grid">

            <li><a href="index.php?do=art&id=1#header"><img src="{{template_home}}assets/img/portfolio/3.jpg">Velká bitva pod lopatou</a> 1.1.2018</li>
            <li><a href="link/singleproject.html"><img src="{{template_home}}assets/img/portfolio/3.jpg"></a></li>
            <li><a href="link/singleproject.html"><img src="{{template_home}}assets/img/portfolio/3.jpg"></a></li>
        </ul>
        <h2>Zápisky</h2>
        <ul class="grid effect-2" id="grid">

            <li><a href="link/singleproject.html"><img src="{{template_home}}assets/img/portfolio/3.jpg"></a></li>
            <li><a href="link/singleproject.html"><img src="{{template_home}}assets/img/portfolio/3.jpg"></a></li>
            <li><a href="link/singleproject.html"><img src="{{template_home}}assets/img/portfolio/3.jpg"></a></li>
            <li><a href="link/singleproject.html"><img src="{{template_home}}assets/img/portfolio/3.jpg"></a></li>
            <li><a href="link/singleproject.html"><img src="{{template_home}}assets/img/portfolio/3.jpg"></a></li>
            <li><a href="link/singleproject.html"><img src="{{template_home}}assets/img/portfolio/3.jpg"></a></li>

        </ul>
    </div><!-- row -->
</div><!-- /.container -->