<!-- BLOG POSTS -->
<div class="container">
    <div class="row mt">
        <div class="col-lg-12">
            <h1>Recent Posts</h1>
        </div><!-- col-lg-12 -->
        <div class="col-lg-8">
            <p>Our latests thoughts about things that only matters to us.</p>
        </div><!-- col-lg-8-->
        <div class="col-lg-4 goright">
            <p><a href="#"><i class="fa fa-angle-right"></i> See All Posts</a></p>
        </div>
    </div><!-- row -->

    <div class="row mt">
        <div class="col-lg-4">
            <img class="img-responsive" src="link/assets/img/post01.jpg" alt="">
            <h3><a href="#">Designing for the reader experience</a></h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <p><a href="#"><i class="fa fa-link"></i> Read More</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-responsive" src="link/assets/img/post02.jpg" alt="">
            <h3><a href="#">25 Examples of flat web & application design</a></h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <p><a href="#"><i class="fa fa-link"></i> Read More</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-responsive" src="link/assets/img/post03.jpg" alt="">
            <h3><a href="#">We are an award winning design agency</a></h3>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
            <p><a href="#"><i class="fa fa-link"></i> Read More</a></p>
        </div>
    </div><!-- row -->
</div><!-- container -->